{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net;">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Signup</title>

    <!-- Bootstrap CSS and other stylesheets -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body class="d-flex align-items-center justify-content-center" style="height: 100vh;">

<!-- Centered Signup Form -->
<form method="post" action="{% url 'signup' %}" class="signup-form bg-light rounded shadow-sm p-4" style="max-width: 600px; width: 100%;">
    {% csrf_token %}

    <!-- Username Field -->
    <div class="form-group mb-3">
        <label for="{{ form.username.id_for_label }}" class="fw-bold fs-5 text-dark">Username</label>
        {{ form.username|add_class:"form-control custom-username" }}
    </div>

    <!-- email Field -->
    <div class="form-group mb-3">
        <label for="{{ form.email.id_for_label }}" class="fw-bold fs-5 text-dark">Email</label>
       {{ form.email|add_class:"form-control custom-email" }}
    </div>

    <!-- Password Field 1 -->
    <div class="form-group mb-3">
        <label for="{{ form.password1.id_for_label }}" class="fw-bold fs-5 text-dark">Password</label>
      {{ form.password1|add_class:"form-control custom-password1" }}
    </div>
    
    <!-- Password Field 2 -->
    <div class="form-group mb-3">
       <label for="{{ form.password2.id_for_label }}" class="fw-bold fs-5 text-dark">Confirm Password</label>
        {{ form.password2|add_class:"form-control custom-password2" }}
    </div>
    
    <!-- Submit Button -->
    <button type="submit" class="btn btn-dark w-100">Sign Up</button>
    <a href="{% url 'login' %}" class="btn btn-dark mt-2" style="text-decoration: none; color: white;">
        Already have an account? Login Here
        </a>
</form>

</body>
</html>
